* {
  box-sizing: border-box;
}

html{
    scroll-padding-top: 80px ;
}

/* this media query to scroll snap after expended navbar */
@media only screen and (max-width: 990px) {
    html{
        scroll-padding-top: 230px ;     
    }
  }

/* Custom hover effect */
.navbar-nav .nav-link:hover {
  color: #f5ffef;
}
